/*cards css*/
.container {
  width: 900px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 0 5px rgba(230, 230, 230);
  border-radius: 3px;
  border: 1px solid rgba(230, 230, 230);
  padding: 20px;
  width: 200px;
  text-align: center;

}

.card p{
 opacity: 0.5;
}

.card img {
  width: 150px;
}
