.footer {
  text-align: center;
  padding: 60px;
  background-color: #201e1e;
}

.footer a {
  font-size: 30px;
  color: #853939;
}

.footer p {
  color: #b6b6b6;
}

.footer .fas {
  color: #BF0F12;
}
